packaging==21.3
Django==4.2.17
uvicorn==0.20.0
starlette>=0.41.3
pillow>=11.0.0
psycopg2-binary==2.9.5
djangorestframework==3.14.0
django-filter==22.1
django-fsm==2.8.1
django-fsm-admin@git+https://github.com/gadventures/django-fsm-admin@master
django-admin-sortable2==2.1.4
django-nested-admin==4.0.2
django-jazzmin==2.6.0
drf-spectacular==0.25.1
drf-spectacular-sidecar==2022.12.1
drf-writable-nested==0.7.0
social-auth-app-django==5.0.0
pyontutils==0.1.38
drf-react-template-framework==0.0.17
aiohttp==3.11.18
crossref-commons==0.0.7
neurondm==0.1.8
django-cors-headers==4.3.1
django-silk==5.2.0
django-debug-toolbar==4.3.0
django-sslserver-v2==1.0
black==22.12.0
pytest==8.3.3
python-dotenv==1.1.0
